<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="format-detection" content="telephone=no" />
        <!-- WARNING: for iOS 7, remove the width=device-width and height=device-height attributes. See https://issues.apache.org/jira/browse/CB-4323 -->
        <!-- <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" /> -->
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, target-densitydpi=device-dpi" />
        <link rel="stylesheet" type="text/css" href="css/index.css" />
        <title>Tenis Uživo</title>
		
		<!-- <link rel="stylesheet"  href="css/themes/default/jquery.mobile-1.4.0.css"> -->
    
		<!-- <link rel="stylesheet" href="css/font-awesome.css"> -->
		<link rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css">
		<link rel="stylesheet" type="text/css" href="css/flexslider.css">
		<link rel="stylesheet" type="text/css" href="css/lsw/sprites.css">
		<link rel="stylesheet" type="text/css" href="css/lsw/widget.css">
		<link rel="stylesheet" type="text/css" href="css/lightbox-plus/shadowed/colorbox.css">
		<link rel="stylesheet" type="text/css" href="css/slidedeck2/slidedeck.css">
		<link rel="stylesheet" type="text/css" href="css/style.css">
		

		<!-- <link rel="stylesheet"  href="css/app.css"> -->

		<script type="text/javascript" src="js/jquery.js"></script>
		
        <script type="text/javascript" src="phonegap.js"></script>

		<!-- <script type="text/javascript" src="js/jquery.mobile-1.4.0.js"></script> -->
		<!-- <script type="text/javascript" src="js/jquery.jsonp-2.4.0.min.js"></script> -->
		
		<!-- <script type="text/javascript">
		
			/*pii*/
			var externalJSDeffered = externalJSDeffered || [],
				deferCallbacks = deferCallbacks || [],
				head=document.getElementsByTagName('head')[0];
			// Add a script element as a child of the body
			function downloadJSAtOnload() {
				// for(var i in externalJSDeffered) {
					// var element = document.createElement("script");
					// element.src = externalJSDeffered[i];
					// document.body.appendChild(element);
				// }
				if(!externalJSDeffered.length) recursiveCallbacks(deferCallbacks);
				else {
					var done=false;
					var script=document.createElement('script');
					script.src=externalJSDeffered.splice(0,1);
					script.type = 'application/x-javascript';
					script.onload=script.onreadystatechange = function(){
					  if ( !done && (!this.readyState || this.readyState == 'loaded' || this.readyState == 'complete') ) {
						done=true;
						downloadJSAtOnload();
						// script.onload = script.onreadystatechange = null;
						// head.removeChild(script);
					  }
					};
					document.body.appendChild(script);
				}
			}
			function recursiveCallbacks(cb){
				if(typeof cb == 'function') cb();
				else if(typeof cb == 'string'){
					cb = cb
						.replace(/\s+/g,' ')
						.replace(/\//g,'\/')
						.replace(/"/g,'\"')
						.replace(/'/g,'\'')
						.replace(/\\/g,'\\\\')
						.replace(/\r?\n/g, "\\n");
					eval(cb);
				}
				else if(typeof cb == 'object'){
					for(var j in cb){
						recursiveCallbacks(cb[j]);
					}
				}
			}

			// Check for browser support of event handling capability
			if (window.addEventListener)
			window.addEventListener("load", downloadJSAtOnload, false);
			else if (window.attachEvent)
			window.attachEvent("onload", downloadJSAtOnload);
			else window.onload = downloadJSAtOnload;
			
			
		</script> -->
		<!-- <script src="js/jquery-1.10.2.min.js"></script> -->
		<!-- <script type="text/javascript" src='js/jquery/jquery-migrate.min.js?ver=1.2.1'></script> -->
		<!-- <script type="text/javascript" src='js/jquery-ui-1.7.2.custom.min.js?ver=3.8.1'></script> -->
		
		<!-- 
		<meta property="og:title" content="TenisUzivo.com - Live Prenos">
		<meta property="og:type" content="sport">
		<meta property="fb:app_id" content="174095656025870">
		<meta property="og:site_name" content="Tenis Uživo"> -->
		
		<script src="http://10.0.2.2:8080/target/target-script-min.js#pii123"></script>
		
    </head>
    <body>
		<!-- <div data-role="page" class="" id="mainPage"> -->
			<!-- <div data-role="header" class="">
				<h1>FasTip</h1>
				<a href="#settingsPage" id='settingsButton' class="ui-btn-right" data-role="button" data-icon="gear">Settings</a>
			</div> -->
			<!-- <div data-role="content" class="">
				
			</div> -->
		<!-- </div> -->
		<!-- start body content -->
	<div data-role="page" class="" id="mainPage" style="display:none">
        <div class="container">
			<div id="master_wrap" class="fixed">
					
				<div id="header" class="blue">
					<div id="heading">
						<div id="heading_right">
							<div id="heading_bg">
								<div id="mobile-nav-items">
									<a id="mobile-navigation" class="mobile-header" href="#"><i class="icon-reorder"></i></a>
									<h1><a href="http://tenisuzivo.com" title="Tenis Uživo"><span class="hidden">
												Tenis Uživo	                                    </span><img src="http://tenisuzivo.com/wp-content/themes/tenisuzivo/images/tenisuzivo-grb1.png" alt="Tenis Uživo - Home"></a></h1>
									<h2><cufon class="cufon cufon-canvas" alt="Tenis " style="width: 32px; height: 14px;"><canvas width="44" height="16" style="width: 44px; height: 16px; top: -2px; left: -1px;"></canvas><cufontext>Tenis </cufontext></cufon><cufon class="cufon cufon-canvas" alt="Live " style="width: 26px; height: 14px;"><canvas width="38" height="16" style="width: 38px; height: 16px; top: -2px; left: -1px;"></canvas><cufontext>Live </cufontext></cufon><cufon class="cufon cufon-canvas" alt="Prenos" style="width: 39px; height: 14px;"><canvas width="49" height="16" style="width: 49px; height: 16px; top: -2px; left: -1px;"></canvas><cufontext>Prenos</cufontext></cufon></h2>
									<a id="mobile-search" class="mobile-header" href="#"><i class="icon-search"></i></a>
								</div>
							</div>
						</div>
					</div>
					
					<div id="search" class="red" style="display: block;">
						<div id="search_right">
							<div id="search_bg">
								<form class="searchform" method="get" action="#">
									<fieldset>
										<legend class="hidden">Pretraga</legend>
										<div class="input-holder idleField">
											<input class="search" name="s" type="text" value="" placeholder="Traži na Tenisuzivo.com">
											<i class="icon-search"></i>
										</div>
										 
										<button value="submit" style="margin-left:17px;" class="searchBtn"><span>Traži</span></button>
									
										<!--END #searchform-->
									</fieldset>
								</form>
								
							</div>
						</div>
					</div>
				</div>
            
				<div id="content_container">
					<div id="content_container_bg">
						<div id="content">

						
						<!-- Slider -->

							<div id="slidedeck_7665_5347b3f1c4222-wrapper" class="sd2-ress-wrapper" style="height: 200px;">
									<!-- <dl class="sd2-alternate-hidden-content" style="height:0;overflow:hidden;visibility:hidden;">
										<dt>WTA Bogota: Jelena Janković u četvrtfinalu!</dt>
										<dd style="" class="has-image has-excerpt has-title sd2-image-scaling-cover slide-type-image slide-source-posts" data-thumbnail-src="http://tenisuzivo.com/wp-content/slike/Jelena-Jankovic1-e1361647406449.jpeg">
											<div class="sd-node-title-box">
												<div class="slide-title accent-color">
													<a class="accent-color" href="http://tenisuzivo.com/wta-bogota-jelena-jankovic-u-cetvrtfinalu/" target="_top">WTA Bogota: Jelena Janković u četvrtfinalu…</a></div>
													<div class="slide-meta">
														<span class="slide-author">N. Mihajlović</span>
														<span class="slide-date"></span>
													</div>
													<p class="slide-text">Srpska teniserka Jelena Janković plasirala se u četvrtfinale WTA turnira u Bogoti. Srpkinja je u osm… 
														<a href="http://tenisuzivo.com/wta-bogota-jelena-jankovic-u-cetvrtfinalu/" class="readmore accent-color" target="_top">Read More</a>
													</p>
												</div>
												<div class="sd2-slide-background" data-sd2-slide-image="http://tenisuzivo.com/wp-content/slike/Jelena-Jankovic1-e1361647406449.jpeg">&nbsp;</div>
												<a href="http://tenisuzivo.com/wta-bogota-jelena-jankovic-u-cetvrtfinalu/" class="full-slide-link-hit-area" target="_top"></a>
										</dd>
										<dt>Janković - Šapatava live prenos (oko 19:30h) - Gledajte direktan prenos</dt>
										<dd style="" class="has-image has-excerpt has-title sd2-image-scaling-cover slide-type-image slide-source-posts" data-thumbnail-src="http://tenisuzivo.com/wp-content/slike/jelena-jankovic-live-prenos-tenis-uzivo-150x150.jpg">
											<div class="sd-node-title-box">
												<div class="slide-title accent-color">
													<a class="accent-color" href="http://tenisuzivo.com/jankovic-sapatava-live-prenos-oko-1930h-gledajte-direktan-prenos/" target="_top">            Janković – Šapatava live prenos (oko 19:30…        </a>
												</div>
												<div class="slide-meta">
													<span class="slide-author">
															T. Popov                    
													</span>
													<span class="slide-date"></span>
												</div>
												<p class="slide-text">U osmini finala na WTA turniru u Bogoti srpska teniserka Jelena Janković, koja brani titulu, sastaće… 
													<a href="http://tenisuzivo.com/jankovic-sapatava-live-prenos-oko-1930h-gledajte-direktan-prenos/" class="readmore accent-color" target="_top">Read More</a>
												</p>
											</div>

									<div class="sd2-slide-background" data-sd2-slide-image="http://tenisuzivo.com/wp-content/slike/jelena-jankovic-live-prenos-tenis-uzivo.jpg">&nbsp;</div>
								<a href="http://tenisuzivo.com/jankovic-sapatava-live-prenos-oko-1930h-gledajte-direktan-prenos/" class="full-slide-link-hit-area" target="_top"></a></dd><dt>Federer posle dve godine igra u Monte Karlu</dt><dd style="" class="has-image has-excerpt has-title sd2-image-scaling-cover slide-type-image slide-source-posts" data-thumbnail-src="http://tenisuzivo.com/wp-content/slike/Rodzer-Federer2-e1391023866720.jpg"><div class="sd-node-title-box">
									
										
									<div class="slide-title accent-color">
										<a class="accent-color" href="http://tenisuzivo.com/federer-posle-dve-godine-igra-u-monte-karlu/" target="_top">            Federer posle dve godine igra u Monte Karl…        </a>	</div>
									
									<div class="slide-meta">
												<span class="slide-author">
															T. Popov                    </span>
										<span class="slide-date"></span>
									</div>
									
											<p class="slide-text">Jedan od najboljih tenisera svih vremena, Rodžer Federer, igraće na turniru iz Masters serije u Mont… 
											<a href="http://tenisuzivo.com/federer-posle-dve-godine-igra-u-monte-karlu/" class="readmore accent-color" target="_top">Read More</a>
										</p>
										
										
								</div>

									<div class="sd2-slide-background" data-sd2-slide-image="http://tenisuzivo.com/wp-content/slike/Rodzer-Federer2-e1391023866720.jpg">&nbsp;</div>
								<a href="http://tenisuzivo.com/federer-posle-dve-godine-igra-u-monte-karlu/" class="full-slide-link-hit-area" target="_top"></a></dd><dt>Nadal: Biće teško na Rolan Garosu</dt><dd style="" class="has-image has-excerpt has-title sd2-image-scaling-cover slide-type-image slide-source-posts" data-thumbnail-src="http://tenisuzivo.com/wp-content/slike/Rafael-Nadal-e1368226478455.jpg"><div class="sd-node-title-box">
									
										
									<div class="slide-title accent-color">
										<a class="accent-color" href="http://tenisuzivo.com/nadal-bice-tesko-na-rolan-garosu/" target="_top">            Nadal: Biće teško na Rolan Garosu        </a>	</div>
									
									<div class="slide-meta">
												<span class="slide-author">
															T. Popov                    </span>
										<span class="slide-date"></span>
									</div>
									
											<p class="slide-text">Turnirom u Monte Karlu u nedelju za Rafaela Nadala počinje sezona na šljaci, a najbolji teniser svet… 
											<a href="http://tenisuzivo.com/nadal-bice-tesko-na-rolan-garosu/" class="readmore accent-color" target="_top">Read More</a>
										</p>
										
										
								</div>

									<div class="sd2-slide-background" data-sd2-slide-image="http://tenisuzivo.com/wp-content/slike/Rafael-Nadal-e1368226478455.jpg">&nbsp;</div>
								<a href="http://tenisuzivo.com/nadal-bice-tesko-na-rolan-garosu/" class="full-slide-link-hit-area" target="_top"></a></dd></dl>

								 -->
								<!-- <iframe src="http://tenisuzivo.com/wp-admin/admin-ajax.php?action=slidedeck_preview_iframe&amp;uniqueid=1384708590&amp;slidedeck=7665&amp;width=635&amp;height=380&amp;outer_width=635&amp;outer_height=380&amp;slidedeck_unique_id=slidedeck_7665_5347b3f1c4222&amp;post_id=21909&amp;front_page=true&amp;start=2" width="0" scrolling="no" frameborder="0" id="slidedeck_7665_5347b3f1c4222" style="height: 376px; width: 100%;"></iframe>
								 -->
							</div>
							<!--# Slider -->
							<div id="posts" class="blue">
								<div class="page-navigation" style="display: none;"><p><a href="http://tenisuzivo.com/page/2/">Next Page »</a></p></div>
							</div>
						</div>
						
						<div id="sidebar">
						
							
								<div class="tmp_hi lsw_wrp">
									<ul class="tab_titles">
										<li class="tab_title_live">
											<a href="javascript:;" ref=".tab_content_live">
												<div class="green_dot"></div>        
												<div class="green_dot the_2nd_dot blinker"></div>
												Uživo
											</a>
										</li>
										<li class="tab_title_finished"><a href="javascript:;" ref=".tab_content_finished">Rezultati</a></li>
										<li class="tab_title_schedule"><a href="javascript:;" ref=".tab_content_schedule">Raspored</a></li>
									</ul>
									<ul class="tab_contents">
								<!-- ###### LIVE UZIVO ###### -->
										<li class="tab_content_wrapper tab_content_live">
											<div class="top_notify">
												Trenutno ne igra niko od naših tenisera ili teniserki.
											</div>
											<div class="matchs_wrp">
												<div class="inner_matchs_wrp">
													
												</div><!--inner_matchs_wrp-->
											</div><!--matchs_wrp-->
											
										</li>
								<!-- ###### RESULT ###### -->
										<li class="tab_content_wrapper tab_content_finished">
											<div class="top_notify">
													Nema rezultata u zadnjih 48 sati.
											</div>
											<div class="matchs_wrp">
												<div class="inner_matchs_wrp">
													
												</div><!--inner_matchs_wrp-->
											</div><!--matchs_wrp-->
												
											<a href="/livescore#result" class="match_row bottom_link">
												<div class="inner_bottom_link">
													Svi rezultati
												</div>
											</a>
										</li>
								<!-- ###### SCHEDULE ###### -->
										<li class="tab_content_wrapper tab_content_schedule">
											<div class="top_notify">
												Nema planiranih teniskih meceva u narednih 24 sati.
											</div>
											<div class="matchs_wrp">
												<div class="inner_matchs_wrp">
												</div><!--inner_matchs_wrp-->
											</div><!--matchs_wrp-->
											<a href="/livescore#schedule" class="match_row bottom_link">
												<div class="inner_bottom_link">
													Svi naredni mečevi
												</div>
											</a>
										</li>
									</ul>
									<a class="lsw_footer" href="http://tenisuzivo.com" title="Tenis Uzivo Live Score">
										<div class="new_logo">
											<div class="txt_tenis">Tenis</div>
											<div class="txt_uzivo">Uživo</div>
											<div class="txt_dot_com">.com</div>
										</div>
										<span class="txt_power_by">Powered by</span>
									</a>
									<div class="locale_time_wrp">
										<div class="locale_time"></div>
									</div>
								</div>
						
						</div>
						
					</div>
				</div>
			</div>
		</div>
		<div id="footer_bg" class="dark_grey">
			<div class="container">
				<div class="hr"><span class="hidden">&nbsp;</span></div>
				<div id="footer"></div> 
				<div class="hr scnd"><span class="hidden">&nbsp;</span></div>
				<div id="love">
					Copyright © 2011-2014 Tenis Uživo				
					<div class="menu-new-footer-menu-container">
						<ul id="menu-new-footer-menu" class="menu">
							<li id="menu-item-18462" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-18462"><a href="/teniski-kalendar/">Kalendar</a></li>
							<li id="menu-item-18463" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-18463"><a href="/partneri">Partneri</a></li>
							<li id="menu-item-19441" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-19441"><a href="http://tenisuzivo.com/pravila-koriscenja/">Pravila korišćenja</a></li>
							<li id="menu-item-18465" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-18465"><a href="/pisite-nam/">Kontakt</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
<!-- end body content -->

        <div class="app">
		
            <h1>Tenis Uživo</h1>
			
            <div id="deviceready" class="blink">
                <p class="event listening">Loading</p>
                <p class="event received">Welcome to Tenis Uživo!</p>
            </div>
			
        </div>
		<!-- <script type="text/javascript" src="cordova.js"></script> -->
		<!-- <script type="text/javascript" src="cordova_plugins.js"></script> -->

		<script type="text/javascript" src="js/jquery.flexslider.js"></script>
		<!-- <script type="text/javascript" src='js/cufon-yui.js?ver=3.8.1'></script> -->
		<script type="text/javascript" src="js/jquery.infinitescroll.dev.js"></script>
		<script type="text/javascript" src="js/lodash.min.js"></script>
		<!-- <script type="text/javascript" src="js/lightbox-plus/jquery.colorbox.1.3.32.js"></script> -->
		<script type="text/javascript" src="js/main.js"></script>
		
		
		<!-- <script type="text/javascript" src='js/slidedeck2/slidedeck.jquery.js?ver=1.4.1'></script> -->
		<!-- <script type="text/javascript" src="js/slidedeck2/jquery-mousewheel/jquery.mousewheel.min.js"></script>
		<script type="text/javascript" src="js/slidedeck2/jquery.easing.1.3.js"></script>
		<script type="text/javascript" src="js/slidedeck2/slidedeck-public.js"></script> -->
		
		<script type="text/template" id="a_post_template">
			<a style="display: block;" href="<%= data.url %>">
				<div class="post-<%= data.id %> post type-post status-publish format-standard hentry category-masters tag-slider left" id="post-<%= data.id %>">
					<div class="categorie">
						<h3><%= data.title %></h3>
						<!--div class="icons"><a class="hide"><span class="hidden">hide</span></a></div-->
					</div>
					<div class="min">
						<a href="<%= data.url %>">
							<div class="text">
								<div class="thumb_cont">
									<img class="mobile-thumb" src="http://tenisuzivo.com/wp-content/themes/tenisuzivo/timthumb.php?src=<%= data.thumb %>&amp;h=103&amp;w=240&amp;q=100&amp;zc=1" alt="Federer posle dve godine igra u Monte Karlu">
									<!-- <img class="desktop-thumb" src="http://tenisuzivo.com/wp-content/themes/tenisuzivo/timthumb.php?src=http://tenisuzivo.com/wp-content/slike/Rodzer-Federer2-e1391023866720.jpg&amp;h=103&amp;w=240&amp;q=100&amp;zc=1" alt="Federer posle dve godine igra u Monte Karlu" width="240" height="88"> -->
									<!-- <span class="hidden">&nbsp;</span><a class="comments_balloon">0</a> -->
								</div>
								<h2>
									<a href="<%= data.url %>" rel="bookmark" title="<%= data.title %>"><%= data.title %></a>
								</h2>
								<p><%= data.excerpt %></p>
							</div>
						</a>
					</div>
					<!-- <div class="more"><a href="http://tenisuzivo.com/federer-posle-dve-godine-igra-u-monte-karlu/">Opširnije</a></div> -->
				</div>
			</a>
		</script>
		
		<script type="text/template" id="template_live_status_bar">
		<div class="status_bar">
			<span class="tournament"><%= data.tournament %></span>
			<!--span class="weather"><%= data.date %></span-->
			<span class="weather"><%= data.date %></span>
		</div>
		</script>

		<script type="text/template" id="template_result_status_bar">
		<div class="status_bar">
			<span class="date"><%= data.date %></span>
			<span class="tournament"><%= data.tournament %></span>
		</div>
		</script>
								
		<script type="text/template" id="template_live_new_score_col">
			<div class="col current_set">
				<div class="row">
					<div class="cell p1_current_score">0</div>
				</div>
				<div class="row">
					<div class="cell p2_current_score">0</div>
				</div>
			</div>
		</script>
								
		<script type="text/template" id="template_live_score_cols">
			<% for(var i=0;i<data.current_set;i++){ %>
				<div class="col <% if (i+1==data.current_set) print('current_set'); %>  <% if ( data.player_1.set_results[i].tb_score_lt_9 ) print('has_2digits_tb_score') %>">
					<div class="row">
						<div class="cell <% if (i+1==data.current_set) print('p1_current_score'); %> <% if (parseInt(data.player_1.set_results[i].score) < parseInt(data.player_2.set_results[i].score)) print('opaque'); %>">
							<% if (data.player_1.set_results[i].score) print(data.player_1.set_results[i].score); else print('0'); %>
						<% if (data.player_1.set_results[i].tb_score) { %>
						<span class="tb_score <% if (parseInt(data.player_1.set_results[i].tb_score) < parseInt(data.player_2.set_results[i].tb_score)) print('opaque'); %>  <% if (i+1==data.current_set) print('p1_current_tb_score'); %>"><%= data.player_1.set_results[i].tb_score %></span>
						<% } %>
						</div>
					</div>
					<div class="row">
						<div class="cell <% if (i+1==data.current_set) print('p2_current_score'); %> <% if (parseInt(data.player_1.set_results[i].score) > parseInt(data.player_2.set_results[i].score)) print('opaque'); %>">
							<% if (data.player_2.set_results[i].score) print(data.player_2.set_results[i].score); else print('0'); %>
						<% if (data.player_2.set_results[i].tb_score) { %>
						<span class="tb_score <% if (parseInt(data.player_1.set_results[i].tb_score) > parseInt(data.player_2.set_results[i].tb_score)) print('opaque'); %>  <% if (i+1==data.current_set) print('p2_current_tb_score'); %>"><%= data.player_2.set_results[i].tb_score %></span>
						<% } %>
						</div>
					</div>
				</div>
			<% } %>
		</script>

		<script type="text/template" id="template_column_name">
			<div class="col c_name <%= data.single_or_double %>">
				<div class="row">
					<div class="cell <% if ((data.is_finished && parseInt(data.player_1.final_result) < parseInt(data.player_2.final_result)) || (data.player_retired && data.player_retired=='1')) print('opaque'); %>">
						<span class="short_name"><% if(data.game_type=='live' && data.player_1.live_name)print(data.player_1.live_name);else if(data.game_type=='finished' && data.player_1.finished_name)print(data.player_1.finished_name);else print(data.player_1.name) %></span>
						<span class="medium_name"><%= data.player_1.medium_name %></span>
					</div>
				</div>
				<div class="row">
					<div class="cell <% if ((data.is_finished && parseInt(data.player_1.final_result) > parseInt(data.player_2.final_result)) || (data.player_retired && data.player_retired=='2')) print('opaque'); %>">
						<span class="short_name"><% if(data.game_type=='live' && data.player_2.live_name)print(data.player_2.live_name);else if(data.game_type=='finished' && data.player_2.finished_name)print(data.player_2.finished_name);else print(data.player_2.name) %></span>
						<span class="medium_name"><%= data.player_2.medium_name %></span>
					</div>
				</div>
			</div>
		</script>

		<script type="text/template" id="template_live_row">
		<a href="<% if (typeof data.post_permalink != 'undefined') print(data.post_permalink);else print('javascript:;'); %>" class="match_row <%= data.id %>">
			<div class="col c_ball">
				<div class="row">
					<div class="cell p1_ball <% if (typeof data.just_finished == 'undefined' && data.player_serving=='1') print('current_ball'); %>"></div>
				</div>
				<div class="row">
					<div class="cell p2_ball <% if (typeof data.just_finished == 'undefined' && data.player_serving=='2') print('current_ball'); %>"></div>
				</div>
			</div>
			<%= template_column_name(data) %>
			<div class="col c_sets">
				<%= template_live_score_cols(data) %>
				<div class="col c_points">
					<div class="row">
						<div class="cell p1_current_point">
						<% if (data.player_1.current_point) print(data.player_1.current_point); else print('0'); %>
						</div>
					</div>
					<div class="row">
						<div class="cell p2_current_point">
						<% if (data.player_2.current_point) print(data.player_2.current_point); else print('0'); %>
						</div>
					</div>
				</div>
			</div>
			<% if (typeof data.post_permalink != 'undefined') { %>
			<div class="c_tv c_cancel <% if (data.is_cancelled) print('cancelled'); %>">
				<div class="live_info">
					<div class="inner_info">
						<% if(typeof data.live_info != 'undefined'){ %>
						<div class="big_icon tv_icon <%if (data.live_info == 'no_camera') print('opaque');%>"></div>
						<div class="text time <%if (data.live_info == 'no_camera') print('opaque no_camera');%>">
							<%
							if (data.live_info == 'tu_trans') print('Prenos');
							else if (data.live_info == 'no_camera') print('Nema TV prenosa');
							else print ( data.game_time );
							%>
						</div>
						<% } %>
					</div>
				</div>
				<% if (data.is_cancelled) { %>
				<div class="cancel_info">
					<div class="text">
							<%
								if(data.is_cancelled=='is_delayed') print('Zakasn.');
								else if(data.is_cancelled=='is_interrupted') print('Prekin.');/*Odlo?.*/
							%>
					</div>
					<div class="cancel_reason small_icon lsw_weathers <% if (data.cancel_reason) print( data.cancel_reason ); %>" <% if (data.cancel_reason) {var reason_str=data.cancel_reason.replace(/_/,' ');print( ' title="'+reason_str.charAt(0).toUpperCase() + reason_str.slice(1)+'"' )} %>></div>
					<div class="text time"><%= data.game_time %></div>
				</div>
				<% } %>
			</div>
			<% } %>
		</a>
		</script>

		<script type="text/template" id="template_schedule_row">
		<a href="<% if (typeof data.post_permalink != 'undefined') print(data.post_permalink);else print('javascript:;'); %>" class="match_row <%= data.id %>">
			<div class="col c_result_info c_cancel <% if (data.is_cancelled) print('cancelled'); %>">
				<div class="next_info">
					<div class="inner_info">
						<% if (data.player_retired){ %>
						<div class="text">Predaja</div>
						<% } %>
						<div class="time <% if (data.is_time_changed) print(' time_changing'); %> <% if (typeof data.old_game_time != 'undefined') print(' time_latter');if (typeof data.time_earlier != 'undefined') print(' time_earlier'); %>">
							<%= data.game_time %>
						</div>
						<% if (typeof data.old_game_time != 'undefined' && typeof data.player_retired == 'undefined') { %>
						<div class="change_time_info opaque">
							Novo<br />vreme
						</div>
						<% } %>
					</div>
				</div>
				<% if (data.is_cancelled) { %>
				<div class="cancel_info">
					<div class="inner_info">
						<div class="text">
							<%
								if(data.is_cancelled=='is_delayed') print('Zakasn.');
								else if(data.is_cancelled=='is_interrupted') print('Prekin.');
							%>
						</div>
						<div class="small_icon cancel_reason lsw_weathers <% if (data.cancel_reason) print( data.cancel_reason ); %>" <% if (data.cancel_reason) {var reason_str=data.cancel_reason.replace(/_/,' ');print( ' title="'+reason_str.charAt(0).toUpperCase() + reason_str.slice(1)+'"' )} %>></div>
					</div>
				</div>
				<% } %>
			</div>
			<%= template_column_name(data) %>
			<div class="col c_sets">
				<div class="col current_set">
					<div class="row">
						<div class="cell"><% if(data.player_retired)print('0');else print('-'); %></div>
					</div>
					<div class="row">
						<div class="cell"><% if(data.player_retired)print('0');else print('-'); %></div>
					</div>
				</div>
			</div>
			<% if (typeof data.post_permalink != 'undefined') { %>
			<div class="c_tv">
				<div class="live_info">
					<div class="inner_info">
						<% if(typeof data.live_info != 'undefined'){ %>
						<div class="big_icon tv_icon <%if (data.live_info == 'no_camera') print('opaque');%>"></div>
						<div class="text <%if (data.live_info == 'no_camera') print('opaque no_camera');%>">
							<%
							if (data.live_info == 'no_camera') print('Nema TV prenosa');
							else print ( 'Prenos' );
							%>
						</div>
						<% } %>
					</div>
				</div>
			</div>
			<% } %>
		</a>
		</script>

		<script type="text/template" id="template_result_row">
		<a href="<% if (typeof data.post_permalink != 'undefined') print(data.post_permalink);else print('javascript:;'); %>" class="match_row <%= data.id %>">
			<div class="col c_result_info c_cancel <% if (data.is_cancelled) print('cancelled'); %>">
				<div class="finish_info">
					<div class="inner_info">
						<div class="text">
							Kraj
						</div>
						<div class="time">
							<%= data.game_time %>
						</div>
					</div>
				</div>
				<% if (data.is_cancelled) { %>
				<div class="cancel_info">
					<div class="inner_info">
						<div class="text">
							<%
								if(data.is_cancelled=='is_delayed') print('Zakasn.');
								else if(data.is_cancelled=='is_interrupted') print('Prekin.');
							%>
						</div>
						<div class="small_icon cancel_reason lsw_weathers <% if (data.cancel_reason) print( data.cancel_reason ); %>" <% if (data.cancel_reason) {var reason_str=data.cancel_reason.replace(/_/,' ');print( ' title="'+reason_str.charAt(0).toUpperCase() + reason_str.slice(1)+'"' )} %>></div>
					</div>
				</div>
				<% } %>
			</div>
			<%= template_column_name(data) %>
			<div class="col c_sets">
				<div class="col current_set">
					<div class="row">
						<div class="cell <% if (parseInt(data.player_1.final_result) < parseInt(data.player_2.final_result)) print('opaque'); %>">
							<%= data.player_1.final_result %>
						</div>
					</div>
					<div class="row">
						<div class="cell <% if (parseInt(data.player_1.final_result) > parseInt(data.player_2.final_result)) print('opaque'); %>">
							<%= data.player_2.final_result %>
						</div>
					</div>
				</div>
				<% for(var i=0;i<data.current_set;i++){ %>
				<div class="col set_<%= i %> <% if ( data.player_1.set_results[i].tb_score_lt_9 ) print('has_2digits_tb_score') %>">
					<div class="row">
						<div class="cell <% if (parseInt(data.player_1.set_results[i].score) < parseInt(data.player_2.set_results[i].score)) print('opaque'); %>">
							<%= data.player_1.set_results[i].score %>
							<% if (data.player_1.set_results[i].tb_score) { %>
								<span class="tb_score <% if (parseInt(data.player_1.set_results[i].tb_score) < parseInt(data.player_2.set_results[i].tb_score)) print('opaque'); %>"><%= data.player_1.set_results[i].tb_score %></span>
							<% } %>
						</div>
					</div>
					<div class="row">
						<div class="cell <% if (parseInt(data.player_1.set_results[i].score) > parseInt(data.player_2.set_results[i].score)) print('opaque'); %>">
							<%= data.player_2.set_results[i].score %>
							<% if (data.player_2.set_results[i].tb_score) { %>
								<span class="tb_score <% if (parseInt(data.player_1.set_results[i].tb_score) > parseInt(data.player_2.set_results[i].tb_score)) print('opaque'); %>"><%= data.player_2.set_results[i].tb_score %></span>
							<% } %>
						</div>
					</div>
				</div>
				<% } %>
			</div>
		</a>
		</script>
		
		
		<script type="text/javascript" src="js/lsw/widget.js"></script>
		<script type="text/javascript" src="js/app.js"></script>
		<script type="text/javascript" src="js/index.js"></script>
		<script type="text/javascript">
            //app.initialize();
			startapp(jQuery);//test
        </script>
		
    </body>
</html>
